@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
:root {
  --dark-green: #064e3b;
  --light-green: #a7f3d0;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  color: white;
}
section .cash-given {
  display: none;
}
body {
  height: 100vh;
  width: 100vw;
}
section {
  background-color: var(--dark-green);
  width: 50%;
  /* max-width: 90%; */
  margin: auto;
  text-align: center;
}
section input {
  width: 60%;
  height: 2rem;
  color: black;
}
section h1 {
  color: var(--light-green);
  padding: 1rem;
}
section button {
  width: 20%;
  height: 2.5rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--light-green);
  color: black;
}
.output {
  padding-top: 2rem;
  display: none;
}
.output td,
th {
  border: 1px solid black;
}
.output th,
td.notes {
  background-color: var(--light-green);
  color: var(--dark-green);
}
.output .numOfNotes {
  background-color: white;
  color: var(--dark-green);
}
.output table {
  border: 1px solid black;
  width: 100%;
  table-layout: fixed;
}
@media only screen and (max-width: 700px) {
  section {
    width: 80%;
    margin: auto;
  }
}
